---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: volsync-restore-trigger
  namespace: ${NAMESPACE}
rules:
  - apiGroups:
      - volsync.backube
    resources:
      - replicationdestinations
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - apps
    resources:
      - deployments
      - deployments/scale
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - get
      - patch
      - update
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: volsync-restore-trigger
  namespace: ${NAMESPACE}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: volsync-restore-trigger
  namespace: ${NAMESPACE}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: volsync-restore-trigger
subjects:
  - kind: ServiceAccount
    name: volsync-restore-trigger
    namespace: ${NAMESPACE}

