---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  CLUSTER_NAME: "#{ cluster_name }#"
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  CLUSTER_POD_CIDR: "#{ cluster_pod_cidr }#"
  CLUSTER_SVC_CIDR: "#{ cluster_svc_cidr }#"
  CLUSTER_DNS_ADDR: "#{ cluster_svc_cidr | nthhost(10) }#"
  CLUSTER_API_ADDR: "#{ cluster_api_addr }#"
  CLUSTER_GATEWAY_ADDR: "#{ cluster_gateway_addr }#"
  CLUSTER_DNS_GATEWAY_ADDR: "#{ cluster_dns_gateway_addr }#"
  CLOUDFLARE_GATEWAY_ADDR: "#{ cloudflare_gateway_addr }#"
  CLOUDFLARE_TOKEN: "#{ cloudflare_token }#"
  CLOUDFLARE_TUNNEL_ID: "#{ cloudflare_tunnel_id() }#"
  NODE_CIDR: "#{ node_cidr }#"
  CILIUM_LB_MODE: "#{ cilium_loadbalancer_mode }#"
  #% if cilium_bgp_enabled %#
  CILIUM_BGP_NODE_ASN: "#{ cilium_bgp_node_asn }#"
  CILIUM_BGP_ROUTER_ASN: "#{ cilium_bgp_router_asn }#"
  CILIUM_BGP_ROUTER_ADDR: "#{ cilium_bgp_router_addr }#"
  #% endif %#
