---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  NAS_HOSTNAME: "#{ nas_hostname }#"
  NAS_STORAGE_PATH: "#{ nas_storage_path }#"
  NAS_MEDIA_PATH: "#{ nas_media_path }#"
  UNIFI_HOST: "#{ unifi_host }#"
